version: '3.3'
volumes:
  data:
services:
  db:
    image: mysql:5.6
    ports:
      - "3306:3306"
    volumes:
      - data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=app_development

  app:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1

  webserver:
    image: nginx:alpine
    container_name: lemp-webserver_1
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d
    links:
      - php73-fpm
      - db
    ports:
      - "80:80"
      - "443:443"

  php73-fpm:
    build:
      context: php73
      args:
        - USERGID=1001
        - USERUID=1001
        - USERNAME=vinicius
    container_name: lemp-php_1
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./php73/config/php.ini:/usr/local/etc/php/php.ini
